
/* import fonts from fonts.css file */ 
@import url(fonts.css);


/* css variables */ 
@import url(css/partials/_variables.css);

/* import global styling */ 
@import url(css/partials/_global.css);

@font-face {
    font-family: 'lato-bold';
    src: url('fonts/lato-bold.eot');
    src: url('fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold.woff') format('woff'),
         url('fonts/lato-bold.ttf') format('truetype'),
         url('fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-regular';
    src: url('fonts/lato-regular.eot');
    src: url('fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular.woff') format('woff'),
         url('fonts/lato-regular.ttf') format('truetype'),
         url('fonts/lato-regular.svg#LatRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'p22_corinthia';
    src: url('fonts/p22_corinthia.eot');
    src: url('fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
         url('fonts/p22_corinthia.woff') format('woff'),
         url('fonts/p22_corinthia.ttf') format('truetype'),
         url('fonts/p22_corinthia.svg#P22Corinthia') format('svg');
    font-weight: normal;
    font-style: normal;
}



html , body
{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}
.navbar
{
	padding: .8rem;
	
}
.navbar-nav li
{
	padding-right: 20px;
}
.nav-link
{
	font-size: 1.1em !important;

}

.carousel-inner img
{
	height: 100%;
	width: 100%;
}
.carousel-caption
{
	position: absolute;
	top: 50%
	transform translateY(-50%);
}
h1
{
	font-size: 500%;
    text-transform:uppercase;
    text-align:center ;
	text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3
{
	font-size: 200%;
	font-weight: 500;
	text-shadow:1px 1px 10px #000;
	padding-bottom: 1rem;
}
.btn-primary
{
	background-color: #6648b1;
    border: 1px solid #563d7c;
   
}
a .btn .btn-primary:hover
{
	background-color: #563d7c;
	border: 1px solid #563d7c;
}

.btn-light
{
    background-color: #d5d5d5;
    border: 1px solid #563d7c;


}
/************SOCIAL MEDIA SECTION*************/
#social-media
{
	background: white;
	padding: 100px 0;
	text-align: center;
}
#social-media p
{
	font-size:36px;
	color: #000;
	margin-bottom:30px;
	font-weight:600;
	/*text-align: center;*/

}
.social-icons img
{
	transition: 0.5s;
	width: 60px;
	text-align: center;

}
.social-icons a:hover img
{
	transform: translateY(-10px);
	
}

#caption {
	background: #f8f9fa;
	padding: 100px 0;
	text-align: center;
}
/*  listings section  */
.listings{
    padding: 100px 0;
}

.listings ul.properties_list{
    list-style: none;
    overflow: hidden;
}

.listings ul.properties_list li{
    display: block;
    width: 340px;
    height: auto;
    position: relative;
    float: left;
    margin: 0 40px 40px 0;
}

.listings ul .properties_list li img .property_img{
    width: 100%;
	height: auto!important;
vertical-align: top;
}


.listings ul .properties_list li .price{
    position: absolute;
    top: 5px;
    left: 2px;
    padding: 5px 2px;
    background: #ffffff;
    color: #514d4d;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}


.listings ul.properties_list li:nth-child(3n+0){
    margin-right: 0;
}

.listings ul li .property_details{
    width: 298px;
    padding: 10px 20px 14px 20px;
    border-bottom: 1px solid #f2f1f1;
    border-left: 1px solid #f2f1f1;
    border-right: 1px solid #f2f1f1;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings ul li:hover .property_details{
    border-bottom: 1px solid #95badf;
    border-left: 1px solid #95badf;
    border-right: 1px solid #95badf;
}

.listings ul li .property_details h1{
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
}

.listings ul li .property_details h1 a{
    text-decoration: none;
    color: #666464;
}

.listings ul li .property_details h2{
    color: #9d9d9d;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 26px;
}

.listings ul li .property_details .property_size{
    color: #676767;
}

.listings .more_listing{
    display: block;
    width: 100%;
    text-align: center;
    margin: 84px 0 22px 0;
}

.listings .more_listing_btn{
    text-decoration: none;
    padding: 20px 40px;
    border: 2px solid #bfd9f1;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    color: #afcbe6;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings .more_listing_btn:hover{
    color: #a0c3e5;
    border: 2px solid #a0c3e5;    
}





/*****************END*******************/


/************FOOTER SECTION*************/
footer
{
	background: #f8f9fa;
	color: #d5d5d5;
}
.svg
{
	width: 100%;
}
