/* import fonts from fonts.css file */ 
@import url(fonts.css);


/* css variables */ 
@import url(css/partials/_variables.css);

/* import global styling */ 
@import url(css/partials/_global.css);


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 


.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 
/*start card area */ 

.site-main .card-area .about-title p{
    padding: 1rem 7rem;
}

.site-main .card-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .card-area .client .client-img{
    padding: 2rem;
}

.site-main .card-area .client .about-client{
    padding-top: 2rem;
}

.site-main .card-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .card-area .client .about-client p{
    font-size: 14px;
}

.site-main .card-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .card-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* End Card Area */ 

