
/* import fonts from fonts.css file */ 
@import url(fonts.css);


/* css variables */ 
@import url(css/partials/_variables.css);

/* import global styling */ 
@import url(css/partials/_global.css);

/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 


.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}



/* End Banner Area */ 

/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 


/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(footer-bg.png) no-repeat;
    /*background-color: azure;*/
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}
img.anime 
{
    height: 15%;
    width: 25%;
}

/* End Footer */ 


/**

<header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
            <!--a class="nav-link" href="#"><span class="sr-only">Queens Location Admin</span></li></a-->

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="mr-auto"></div>
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="AjouterVoiture.php">Add Car <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="HomeAdmin.php">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="GererUser.php">Users</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Hire</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="Accueil.php">Logout</a>
							</li>

						</ul>
				</div>
			</nav>
        </div>
	</header>








<?php
			$conn =new PDO("mysql:host=localhost;port=8889;dbname=location","root","root", array(PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION));
			$select = "SELECT * FROM vehicule WHERE statut = '0' ";
			$result = $conn->query($select);
			while($row = $result->fetch(PDO::FETCH_ASSOC)){
		?>
		<div class="card mb-3">
  			<img class="card-img-top" src="<?php echo $row['imag'];?>">
  			<div class="card-body">
    			<h5 class="card-title">Vehicle model:<?php echo $row['model'] ?></h5>
   				<p class="card-text">Vehicle mark: <?php echo $row['marque'] ?></p>
    			<p class="card-text"><small class="text-muted"><?php echo $row['capacite'] ?></small></p>
			  </div>
        </div>
        




        <footer class="footer-area">
        <div class="container">
            <div class="">
                <!--div class="site-logo text-center py-4">
                    <a href="#"><img src="Images/QueensAuTORENT.gif" alt="logo" class="anime"></a>
                </div-->
                <div class="social text-center">
                    <h5 class="text-uppercase">Follow us</h5>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="copyrights text-center">
                    <p class="para">
                        Copyright ©2020 All rights reserved | This work is made with by
                        <a href="#"><span style="color: var(--primary-color);">Queens</span></a>
                    </p>
                </div>
            </div>
        </div>
</footer>
        **/
        






        /*****<!--  Jquery js file  -->
    <script src="js/jquery.3.4.1.js"></script>

    <!--  Bootstrap js file  -->
    <script src="js/bootstrap.min.js"></script>

    <!--  isotope js library  -->
    <script src="vendor/isotope/isotope.min.js"></script>

    <!--  Magnific popup script file  -->
    <script src="vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>

    <!--  Owl-carousel js file  -->
    <script src="vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!--  custom js file  -->
    <script src="js/main.js"></script>*****/