

/* import fonts from fonts.css file */ 
@import url(fonts.css);


/* css variables */ 
@import url(css/partials/_variables.css);

/* import global styling */ 
@import url(css/partials/_global.css);

*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Poppins', sans-serif;
    overflow: visible;
}